body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cart-item {
  display: inline-flex;
  margin: 20px 10px;

}

.right-block {
  padding: 0 20px;
  color: rgb(32, 90, 199);
  font-size: 16px;
  font-weight: 500;
}

.cart-items-actions {
  margin-top: 20px;
}

.action-icons {
  height: 18px;
  width: 18px;
  margin: 15px;
  margin-top: 0px;
  margin-left: 0px;

}

.actions-icons:hover {
  cursor: pointer;
}

.cart {
  display: flex;
  flex-direction: column;
}

.main-cart {
  display: flex;
  flex-direction: column;
}

.button-add{
  height: 40px;
  width: 120px;
  margin: 15px;
  border: 1px solid #0f79f9;
  border-radius: 5px;
  font-size: 15px;
  background-color: #097ecb;
  color: #f9f7f7;
}